@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$font--HiraginoMinPro: "hiragino-mincho-pron", sans-serif;
$font--Roboto: "Roboto", sans-serif;
$font--bebasNeue: "bebas-neue-by-fontfabric", sans-serif;
$font--Family: $font--HiraginoMinPro, Georgia,游明朝,"Yu Mincho",YuMincho,HGS明朝E,メイリオ,Meiryo,serif;