/* =======================
VARIABLES
* ======================= */

/* colors */
$white: #fff;
$black: #000;

// Template colors
$col--silver: #BEBEBE;

$body: #EBEBEB;

/* breakpoints */
$contentCenter: 1200px;
$windowPC: 768px;
$windowSP: 767px;

$desktop-vw-viewport: 1927;
$mobile-vw-viewport: 375;

// wpAdminBar
$wpAdminBarPC: 32px;
$wpAdminBarSP: 46px;
